@layer components {

  .btn {
    @apply inline-flex items-center gap-x-s p-s text-sm font-fira-sans font-bold focus:outline-none focus:ring-2 focus:ring-offset-2 transition-colors;
  }

  .btn-primary {
    @apply
      bg-button-background-primary
      text-button-text-primary
      stroke-white
      hover:bg-button-background-primary-hover
      hover:text-button-text-primary-hover
      disabled:bg-button-background-primary-disabled
      disabled:text-button-text-primary-disabled;
  }

  .btn-secondary {
    @apply
      bg-button-background-secondary
      text-button-text-secondary
      border
      border-button-border-secondary
      font-normal
      hover:bg-button-background-secondary-hover
      hover:text-button-text-secondary-hover
      hover:border-button-border-secondary-hover
      disabled:bg-button-background-secondary-disabled
      disabled:text-button-text-secondary-disabled
      disabled:border-button-border-secondary-disabled
  }

  .btn-ghost {
    @apply
      text-button-text-ghost
      hover:text-button-text-ghost-hover
      disabled:text-button-text-ghost-disabled
  }

  .btn-dark {
    @apply
      bg-button-background-dark
      text-button-text-dark
      hover:bg-button-background-dark-hover
      hover:text-button-text-dark-hover
      disabled:bg-button-background-dark-disabled
      disabled:text-button-text-dark-disabled
  }

  .btn-pill {
    @apply
      bg-button-background-pill
      hover:bg-button-background-pill-hover
      text-button-text-pill
      border-button-border-pill
      hover:border-button-border-pill-hover
      active:border-button-border-pill-active
      disabled:border-button-border-pill-disabled
      rounded-pill
      gap-x-s
      px-m
      py-s
      font-normal
      border
  }

  .btn-icon-only {
    @apply p-s
  }

}
