@layer components {

  .btn {
    @apply inline-flex items-center gap-x-s p-s text-sm font-fira-sans font-bold focus:outline-none focus:ring-2 focus:ring-offset-2 transition-colors;
  }

  .btn-primary {
    @apply bg-button-background-button-primary-bg text-button-text-button-primary-text stroke-white hover:bg-button-background-button-primary-bg-hover disabled:bg-button-background-button-primary-bg-disabled;
  }

  .btn-secondary {
    @apply
      bg-button-background-button-secondary-bg
      text-button-text-button-secondary-text
      font-normal
      border
      border-button-border-button-secondary-border
      hover:border-button-border-button-secondary-border-hover
      disabled:border-button-border-button-secondary-border-disabled
      hover:bg-button-background-button-secondary-bg-hover
  }

  .btn-ghost {
    @apply
      text-button-text-button-ghost-text
  }

  .btn-dark {
    @apply
      bg-button-background-button-dark-bg
      text-button-text-button-dark-text
      hover:bg-button-background-button-dark-bg-hover
  }

  .btn-pill {
    @apply
      bg-button-background-button-pill-bg
      hover:bg-button-background-button-pill-bg-hover
      text-button-text-button-pill-text
      border-button-border-button-pill-border
      hover:border-button-border-button-pill-border-hover
      active:border-button-border-button-pill-border-active
      disabled:border-button-border-button-pill-border-disabled
      rounded-full
      gap-x-s
      px-m
      py-s
      font-normal
      border
  }

  .btn-icon-only {
    @apply p-s
  }

}
