:root {
  --border-border-default: #000000;
  --border-border-brand: #02a1d9;
  --border-border-accent-gray: #727272;
  --border-border-accent-gray-subtle: #f2f2f2;
  --border-border-disabled: #727272;
  --color-blue-400: #02b4f2;
  --color-blue-500: #02a1d9;
  --color-blue-900: #09254a;
  --color-blue-500-10: #02a1d91a;
  --color-pink-200: #fdecef;
  --color-pink-400: #f2e1df;
  --color-pink-600: #ec596f;
  --color-pink-700: #e9425b;
  --color-brown-500: #a27675;
  --color-brown-800: #6a4847;
  --color-brown-900: #3a1a1c;
  --color-neutral-100: #f8f8f8;
  --color-neutral-200: #f2f2f2;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #bdbdbd;
  --color-neutral-500: #999999;
  --color-neutral-600: #727272;
  --color-neutral-700: #484544;
  --color-neutral-800: #222222;
  --color-neutral-900: #121212;
  --color-neutral-black: #000000;
  --color-neutral-black-10: #0000001a;
  --color-neutral-white: #ffffff;
  --text-text-default: #000000;
  --text-text-subtle: #727272;
  --text-text-brand: #02a1d9;
  --text-text-brand-subtle: #02b4f2;
  --text-text-accent-brown: #6a4847;
  --text-text-accent-pink: #e9425b;
  --text-text-disabled: #727272;
  --text-text-inverse: #ffffff;
  --text-text-warning: #e9425b;
  --text-text-warning-inverse: #000000;
  --background-bg-default: #ffffff;
  --background-bg-dark: #000000;
  --background-bg-dark-subtle: #222222;
  --background-bg-brand: #02a1d9;
  --background-bg-brand-subtle: #02b4f2;
  --background-bg-brand-subtlest: #02a1d91a;
  --background-bg-accent-gray: #f2f2f2;
  --background-bg-accent-brown: #6a4847;
  --background-bg-accent-pink: #e9425b;
  --background-bg-accent-pink-subtle: #ec596f;
  --background-bg-accent-pink-subtlest: #f2e1df;
  --background-bg-warning: #fdecef;
  --background-bg-disabled: #727272;
  --icons-icon-default: #000000;
  --icons-icon-gray: #727272;
  --icons-icon-brand: #02a1d9;
  --icons-icon-danger: #e9425b;
  --icons-icon-inverse: #ffffff;
  --button-background-button-primary-bg-default: #02a1d9;
  --button-background-button-secondary-bg-default: #ffffff;
  --button-background-button-dark-bg-default: #000000;
  --button-border-button-secondary-border-default: #02a1d9;
  --button-icon-button-primary-icon-default: #ffffff;
  --button-icon-button-secondary-icon-default: #02a1d9;
  --button-text-button-primary-text-default: #ffffff;
  --button-text-button-secondary-text-default: #02a1d9;
  --button-text-button-dark-text-default: #ffffff;
  --button-text-button-ghost-text-default: #02a1d9;
  --link-link-text-default: #02a1d9;
  --button-background-button-primary-bg-hover: #02b4f2;
  --button-background-button-secondary-bg-hover: #02a1d91a;
  --button-background-button-dark-bg-hover: #222222;
  --button-border-button-secondary-border-hover: #02a1d9;
  --button-icon-button-primary-icon-hover: #ffffff;
  --button-icon-button-secondary-icon-hover: #02a1d9;
  --button-text-button-primary-text-hover: #ffffff;
  --button-text-button-secondary-text-hover: #02a1d9;
  --button-text-button-dark-text-hover: #ffffff;
  --button-text-button-ghost-text-hover: #02b4f2;
  --link-link-text-hover: #02b4f2;
  --button-background-button-primary-bg-active: #02b4f2;
  --button-background-button-secondary-bg-active: #02a1d91a;
  --button-background-button-dark-bg-active: #222222;
  --button-border-button-secondary-border-active: #02a1d9;
  --button-icon-button-primary-icon-active: #ffffff;
  --button-icon-button-secondary-icon-active: #02a1d9;
  --button-text-button-primary-text-active: #ffffff;
  --button-text-button-secondary-text-active: #02a1d9;
  --button-text-button-dark-text-active: #ffffff;
  --button-text-button-ghost-text-active: #02b4f2;
  --link-link-text-active: #02b4f2;
  --button-background-button-primary-bg-disabled: #727272;
  --button-background-button-secondary-bg-disabled: #ffffff;
  --button-background-button-dark-bg-disabled: #000000;
  --button-border-button-secondary-border-disabled: #727272;
  --button-icon-button-primary-icon-disabled: #ffffff;
  --button-icon-button-secondary-icon-disabled: #02a1d9;
  --button-text-button-primary-text-disabled: #ffffff;
  --button-text-button-secondary-text-disabled: #727272;
  --button-text-button-dark-text-disabled: #727272;
  --button-text-button-ghost-text-disabled: #727272;
  --link-link-text-disabled: #727272;
  --spacing-inset-spacing-inset-xs: 4px;
  --spacing-inset-spacing-inset-s: 8px;
  --spacing-inset-spacing-inset-m: 16px;
  --spacing-inset-spacing-inset-l: 32px;
  --spacing-inset-spacing-inset-xl: 64px;
  --spacing-stack-spacing-stack-xs: {inset.spacing-inset-xs};
  --spacing-stack-spacing-stack-s: {inset.spacing-inset-s};
  --spacing-stack-spacing-stack-m: {inset.spacing-inset-m};
  --spacing-stack-spacing-stack-l: {inset.spacing-inset-l};
  --spacing-stack-spacing-stack-xl: {inset.spacing-inset-xl};
  --spacing-inline-stack-inline-xs: {stack.spacing-stack-xs};
  --spacing-inline-stack-inline-s: {stack.spacing-stack-s};
  --spacing-inline-stack-inline-m: {stack.spacing-stack-m};
  --spacing-inline-stack-inline-l: {stack.spacing-stack-l};
  --spacing-inline-stack-inline-xl: {stack.spacing-stack-xl};
}