:root {
  --font-family-fira-sans: Fira Sans, sans-serif;
  --font-family-gulliver: Gulliver, serif;
  --font-family-gulliver-semibold: Gulliver Semibold, serif;
  --font-family-abril-fatface: Abril Fatface, cursive;
  --font-family-montserrat: Montserrat, sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --letter-spacing-letter-spacing-0: 0px;
  --letter-spacing-letter-spacing-1: 1px;
  --letter-spacing-letter-spacing-2: 2px;
  --letter-spacing-letter-spacing-4: 4px;
  --font-size-body-m: 16px;
  --font-size-body-l: 18px;
  --font-size-body-xl: 20px;
  --font-size-body-xxl: 24px;
  --font-size-drop-cap: 90px;
  --font-size-heading-xs: 14px;
  --font-size-heading-s: 16px;
  --font-size-heading-m: 18px;
  --font-size-heading-l: 26px;
  --font-size-heading-xl: 28px;
  --font-size-meta: 14px;
  --border-border-default: #000000;
  --border-border-brand: #02a1d9;
  --border-border-accent-gray: #727272;
  --border-border-accent-gray-subtle: #f2f2f2;
  --border-border-disabled: #727272;
  --color-blue-400: #02b4f2;
  --color-blue-500: #02a1d9;
  --color-blue-900: #09254a;
  --color-blue-500-10: #02a1d91a;
  --color-pink-200: #fdecef;
  --color-pink-400: #f2e1df;
  --color-pink-600: #ec596f;
  --color-pink-700: #e9425b;
  --color-brown-500: #a27675;
  --color-brown-800: #6a4847;
  --color-brown-900: #3a1a1c;
  --color-neutral-100: #f8f8f8;
  --color-neutral-200: #f2f2f2;
  --color-neutral-300: #eceae9;
  --color-neutral-400: #bdbdbd;
  --color-neutral-500: #999999;
  --color-neutral-600: #727272;
  --color-neutral-700: #484544;
  --color-neutral-800: #222222;
  --color-neutral-900: #121212;
  --color-neutral-black: #000000;
  --color-neutral-black-10: #0000001a;
  --color-neutral-white: #ffffff;
  --text-text-default: #000000;
  --text-text-subtle: #727272;
  --text-text-brand: #02a1d9;
  --text-text-brand-subtle: #02b4f2;
  --text-text-accent-brown: #6a4847;
  --text-text-accent-pink: #e9425b;
  --text-text-disabled: #727272;
  --text-text-inverse: #ffffff;
  --text-text-warning: #e9425b;
  --text-text-warning-inverse: #000000;
  --background-bg-default: #ffffff;
  --background-bg-dark: #000000;
  --background-bg-dark-subtle: #222222;
  --background-bg-brand: #02a1d9;
  --background-bg-brand-subtle: #02b4f2;
  --background-bg-brand-subtlest: #02a1d91a;
  --background-bg-accent-gray: #f2f2f2;
  --background-bg-accent-brown: #6a4847;
  --background-bg-accent-pink: #e9425b;
  --background-bg-accent-pink-subtle: #ec596f;
  --background-bg-accent-pink-subtlest: #f2e1df;
  --background-bg-warning: #fdecef;
  --background-bg-disabled: #727272;
  --icons-icon-default: #000000;
  --icons-icon-gray: #727272;
  --icons-icon-brand: #02a1d9;
  --icons-icon-danger: #e9425b;
  --icons-icon-inverse: #ffffff;
  --button-background-button-primary-bg-default: #02a1d9;
  --button-background-button-dark-bg-default: #000000;
  --button-background-button-secondary-bg-default: #ffffff;
  --button-background-button-pill-bg-default: #ffffff;
  --button-border-button-secondary-border-default: #02a1d9;
  --button-border-button-pill-border-default: #f2f2f2;
  --button-icon-button-primary-icon-default: #ffffff;
  --button-icon-button-secondary-icon-default: #02a1d9;
  --button-icon-button-pill-icon-default: #727272;
  --button-text-button-primary-text-default: #ffffff;
  --button-text-button-dark-text-default: #ffffff;
  --button-text-button-secondary-text-default: #02a1d9;
  --button-text-button-ghost-text-default: #02a1d9;
  --button-text-button-pill-text-default: #727272;
  --link-link-text-default: #02a1d9;
  --link-link-brown-text-default: #6a4847;
  --button-background-button-primary-bg-hover: #02b4f2;
  --button-background-button-dark-bg-hover: #222222;
  --button-background-button-secondary-bg-hover: #02a1d91a;
  --button-background-button-pill-bg-hover: {background.bg-accent-gray-subtle};
  --button-border-button-secondary-border-hover: #02a1d9;
  --button-border-button-pill-border-hover: #727272;
  --button-icon-button-primary-icon-hover: #ffffff;
  --button-icon-button-secondary-icon-hover: #02a1d9;
  --button-icon-button-pill-icon-hover: #727272;
  --button-text-button-primary-text-hover: #ffffff;
  --button-text-button-dark-text-hover: #ffffff;
  --button-text-button-secondary-text-hover: #02a1d9;
  --button-text-button-ghost-text-hover: #02b4f2;
  --button-text-button-pill-text-hover: #727272;
  --link-link-text-hover: #02b4f2;
  --link-link-brown-text-hover: {text.text-accent-brown-subtle};
  --button-background-button-primary-bg-active: #02b4f2;
  --button-background-button-dark-bg-active: #222222;
  --button-background-button-secondary-bg-active: #02a1d91a;
  --button-background-button-pill-bg-active: {background.bg-accent-gray-subtle};
  --button-border-button-secondary-border-active: #02a1d9;
  --button-border-button-pill-border-active: #727272;
  --button-icon-button-primary-icon-active: #ffffff;
  --button-icon-button-secondary-icon-active: #02a1d9;
  --button-icon-button-pill-icon-active: #727272;
  --button-text-button-primary-text-active: #ffffff;
  --button-text-button-dark-text-active: #ffffff;
  --button-text-button-secondary-text-active: #02a1d9;
  --button-text-button-ghost-text-active: #02b4f2;
  --button-text-button-pill-text-active: #727272;
  --link-link-text-active: #02b4f2;
  --link-link-brown-text-active: {text.text-accent-brown-subtle};
  --button-background-button-primary-bg-disabled: #727272;
  --button-background-button-dark-bg-disabled: #000000;
  --button-background-button-secondary-bg-disabled: #ffffff;
  --button-background-button-pill-bg-disabled: #ffffff;
  --button-border-button-secondary-border-disabled: #727272;
  --button-border-button-pill-border-disabled: #f2f2f2;
  --button-icon-button-primary-icon-disabled: #ffffff;
  --button-icon-button-secondary-icon-disabled: #02a1d9;
  --button-icon-button-pill-icon-disabled: #727272;
  --button-text-button-primary-text-disabled: #ffffff;
  --button-text-button-dark-text-disabled: #727272;
  --button-text-button-secondary-text-disabled: #727272;
  --button-text-button-ghost-text-disabled: #727272;
  --button-text-button-pill-text-disabled: #727272;
  --link-link-text-disabled: #727272;
  --link-link-brown-text-disabled: #727272;
  --spacing-inset-spacing-inset-xs: 4px;
  --spacing-inset-spacing-inset-s: 8px;
  --spacing-inset-spacing-inset-m: 16px;
  --spacing-inset-spacing-inset-l: 32px;
  --spacing-inset-spacing-inset-xl: 64px;
  --body-body-standard-fontFamily: Fira Sans, sans-serif;
  --body-body-standard-fontSize: 16px;
  --body-body-standard-fontWeight: 300;
  --body-body-standard-letterSpacing: 0px;
  --body-body-standard-lineHeight: 160%;
  --body-body-standard-textTransform: none;
  --body-body-standard-textDecoration: none;
  --body-body-standard-regular-fontFamily: Fira Sans, sans-serif;
  --body-body-standard-regular-fontSize: 16px;
  --body-body-standard-regular-fontWeight: 400;
  --body-body-standard-regular-letterSpacing: 0px;
  --body-body-standard-regular-lineHeight: 160%;
  --body-body-standard-regular-textTransform: none;
  --body-body-standard-regular-textDecoration: none;
  --body-body-standard-bold-fontFamily: Fira Sans, sans-serif;
  --body-body-standard-bold-fontSize: 16px;
  --body-body-standard-bold-fontWeight: 700;
  --body-body-standard-bold-letterSpacing: 0px;
  --body-body-standard-bold-lineHeight: 160%;
  --body-body-standard-bold-textTransform: none;
  --body-body-standard-bold-textDecoration: none;
  --body-body-article-fontFamily: Fira Sans, sans-serif;
  --body-body-article-fontSize: 16px;
  --body-body-article-fontWeight: 400;
  --body-body-article-letterSpacing: 0px;
  --body-body-article-lineHeight: 160%;
  --body-body-article-textTransform: none;
  --body-body-article-textDecoration: none;
  --body-body-article-intro-fontFamily: Fira Sans, sans-serif;
  --body-body-article-intro-fontSize: 18px;
  --body-body-article-intro-fontWeight: 300;
  --body-body-article-intro-letterSpacing: 0px;
  --body-body-article-intro-lineHeight: 160%;
  --body-body-article-intro-textTransform: none;
  --body-body-article-intro-textDecoration: none;
  --body-body-article-type-fontFamily: Fira Sans, sans-serif;
  --body-body-article-type-fontSize: 20px;
  --body-body-article-type-fontWeight: 700;
  --body-body-article-type-letterSpacing: 1px;
  --body-body-article-type-lineHeight: 160%;
  --body-body-article-type-textTransform: small-caps;
  --body-body-article-type-textDecoration: none;
  --body-body-article-city-fontFamily: Fira Sans, sans-serif;
  --body-body-article-city-fontSize: 20px;
  --body-body-article-city-fontWeight: 400;
  --body-body-article-city-letterSpacing: 2px;
  --body-body-article-city-lineHeight: 160%;
  --body-body-article-city-textTransform: small-caps;
  --body-body-article-city-textDecoration: none;
  --body-body-article-quote-fontFamily: Gulliver, serif;
  --body-body-article-quote-fontSize: 24px;
  --body-body-article-quote-fontWeight: 700;
  --body-body-article-quote-letterSpacing: 0px;
  --body-body-article-quote-lineHeight: 130%;
  --body-body-article-quote-textTransform: none;
  --body-body-article-quote-textDecoration: none;
  --body-body-article-question-fontFamily: Fira Sans, sans-serif;
  --body-body-article-question-fontSize: 16px;
  --body-body-article-question-fontWeight: 700;
  --body-body-article-question-letterSpacing: 0px;
  --body-body-article-question-lineHeight: 160%;
  --body-body-article-question-textTransform: none;
  --body-body-article-question-textDecoration: none;
  --body-drop-cap-fontFamily: Abril Fatface, cursive;
  --body-drop-cap-fontSize: 90px;
  --body-drop-cap-fontWeight: 700;
  --body-drop-cap-letterSpacing: 0px;
  --body-drop-cap-lineHeight: 160%;
  --body-drop-cap-textTransform: none;
  --body-drop-cap-textDecoration: none;
  --body-drop-cap-2-fontFamily: Montserrat, sans-serif;
  --body-drop-cap-2-fontSize: 90px;
  --body-drop-cap-2-fontWeight: 300;
  --body-drop-cap-2-letterSpacing: 0px;
  --body-drop-cap-2-lineHeight: 160%;
  --body-drop-cap-2-textTransform: none;
  --body-drop-cap-2-textDecoration: none;
  --headings-heading-article-fontFamily: Gulliver, serif;
  --headings-heading-article-fontSize: 28px;
  --headings-heading-article-fontWeight: 700;
  --headings-heading-article-letterSpacing: 0px;
  --headings-heading-article-lineHeight: 130%;
  --headings-heading-article-textTransform: none;
  --headings-heading-article-textDecoration: none;
  --headings-headings-page-fontFamily: Gulliver, serif;
  --headings-headings-page-fontSize: 26px;
  --headings-headings-page-fontWeight: 700;
  --headings-headings-page-letterSpacing: 0px;
  --headings-headings-page-lineHeight: 130%;
  --headings-headings-page-textTransform: none;
  --headings-headings-page-textDecoration: none;
  --headings-subheading-fontFamily: Gulliver Semibold, serif;
  --headings-subheading-fontSize: 26px;
  --headings-subheading-fontWeight: 400;
  --headings-subheading-letterSpacing: 0px;
  --headings-subheading-lineHeight: 130%;
  --headings-subheading-textTransform: none;
  --headings-subheading-textDecoration: none;
  --headings-heading-2-fontFamily: Gulliver, serif;
  --headings-heading-2-fontSize: 18px;
  --headings-heading-2-fontWeight: 700;
  --headings-heading-2-letterSpacing: 0px;
  --headings-heading-2-lineHeight: 130%;
  --headings-heading-2-textTransform: none;
  --headings-heading-2-textDecoration: none;
  --headings-heading-3-fontFamily: Fira Sans, sans-serif;
  --headings-heading-3-fontSize: 16px;
  --headings-heading-3-fontWeight: 700;
  --headings-heading-3-letterSpacing: 0px;
  --headings-heading-3-lineHeight: 130%;
  --headings-heading-3-textTransform: none;
  --headings-heading-3-textDecoration: none;
  --headings-heading-article-feed-fontFamily: Fira Sans, sans-serif;
  --headings-heading-article-feed-fontSize: 14px;
  --headings-heading-article-feed-fontWeight: 700;
  --headings-heading-article-feed-letterSpacing: 4px;
  --headings-heading-article-feed-lineHeight: 130%;
  --headings-heading-article-feed-textTransform: small-caps;
  --headings-heading-article-feed-textDecoration: none;
  --meta-meta-standard-fontFamily: Fira Sans, sans-serif;
  --meta-meta-standard-fontSize: 14px;
  --meta-meta-standard-fontWeight: 400;
  --meta-meta-standard-letterSpacing: 0px;
  --meta-meta-standard-lineHeight: 140%;
  --meta-meta-standard-textTransform: none;
  --meta-meta-standard-textDecoration: none;
  --meta-meta-caption-fontFamily: Fira Sans, sans-serif;
  --meta-meta-caption-fontSize: 14px;
  --meta-meta-caption-fontWeight: 700;
  --meta-meta-caption-letterSpacing: 0px;
  --meta-meta-caption-lineHeight: 140%;
  --meta-meta-caption-textTransform: none;
  --meta-meta-caption-textDecoration: none;
  --meta-meta-credits-fontFamily: Fira Sans, sans-serif;
  --meta-meta-credits-fontSize: 14px;
  --meta-meta-credits-fontWeight: 400;
  --meta-meta-credits-letterSpacing: 0px;
  --meta-meta-credits-lineHeight: 140%;
  --meta-meta-credits-textTransform: none;
  --meta-meta-credits-textDecoration: none;
  --meta-meta-author-fontFamily: Fira Sans, sans-serif;
  --meta-meta-author-fontSize: 14px;
  --meta-meta-author-fontWeight: 700;
  --meta-meta-author-letterSpacing: 0px;
  --meta-meta-author-lineHeight: 140%;
  --meta-meta-author-textTransform: none;
  --meta-meta-author-textDecoration: none;
  --meta-meta-date-fontFamily: Fira Sans, sans-serif;
  --meta-meta-date-fontSize: 14px;
  --meta-meta-date-fontWeight: 400;
  --meta-meta-date-letterSpacing: 0px;
  --meta-meta-date-lineHeight: 140%;
  --meta-meta-date-textTransform: none;
  --meta-meta-date-textDecoration: none;
  --meta-meta-timestamp-fontFamily: Fira Sans, sans-serif;
  --meta-meta-timestamp-fontSize: 14px;
  --meta-meta-timestamp-fontWeight: 400;
  --meta-meta-timestamp-letterSpacing: 0px;
  --meta-meta-timestamp-lineHeight: 140%;
  --meta-meta-timestamp-textTransform: none;
  --meta-meta-timestamp-textDecoration: none;
  --meta-meta-ad-fontFamily: Fira Sans, sans-serif;
  --meta-meta-ad-fontSize: 14px;
  --meta-meta-ad-fontWeight: 400;
  --meta-meta-ad-letterSpacing: 0px;
  --meta-meta-ad-lineHeight: 140%;
  --meta-meta-ad-textTransform: none;
  --meta-meta-ad-textDecoration: none;
  --old-menu-items-primary-menu-items-fontFamily: Fira Sans;
  --old-menu-items-primary-menu-items-fontSize: 14px;
  --old-menu-items-primary-menu-items-fontWeight: 400;
  --old-menu-items-primary-menu-items-letterSpacing: 0%;
  --old-menu-items-primary-menu-items-lineHeight: normal;
  --old-menu-items-primary-menu-items-textTransform: uppercase;
  --old-menu-items-primary-menu-items-textDecoration: none;
  --old-menu-items-secondary-menu-items-fontFamily: Fira Sans;
  --old-menu-items-secondary-menu-items-fontSize: 14px;
  --old-menu-items-secondary-menu-items-fontWeight: 400;
  --old-menu-items-secondary-menu-items-letterSpacing: 0%;
  --old-menu-items-secondary-menu-items-lineHeight: 20px;
  --old-menu-items-secondary-menu-items-textTransform: none;
  --old-menu-items-secondary-menu-items-textDecoration: none;
  --old-menu-items-submenu-items-fontFamily: Fira Sans;
  --old-menu-items-submenu-items-fontSize: 14px;
  --old-menu-items-submenu-items-fontWeight: 300;
  --old-menu-items-submenu-items-letterSpacing: 0%;
  --old-menu-items-submenu-items-lineHeight: normal;
  --old-menu-items-submenu-items-textTransform: none;
  --old-menu-items-submenu-items-textDecoration: none;
  --old-menu-items-bottom-menu-items-fontFamily: Fira Sans;
  --old-menu-items-bottom-menu-items-fontSize: 12px;
  --old-menu-items-bottom-menu-items-fontWeight: 400;
  --old-menu-items-bottom-menu-items-letterSpacing: 0%;
  --old-menu-items-bottom-menu-items-lineHeight: 20px;
  --old-menu-items-bottom-menu-items-textTransform: none;
  --old-menu-items-bottom-menu-items-textDecoration: none;
  --old-menu-items-bottom-menu-items-active-fontFamily: Fira Sans;
  --old-menu-items-bottom-menu-items-active-fontSize: 12px;
  --old-menu-items-bottom-menu-items-active-fontWeight: 700;
  --old-menu-items-bottom-menu-items-active-letterSpacing: 0%;
  --old-menu-items-bottom-menu-items-active-lineHeight: 20px;
  --old-menu-items-bottom-menu-items-active-textTransform: none;
  --old-menu-items-bottom-menu-items-active-textDecoration: none;
  --old-headings-heading-1-article-fontFamily: Gulliver;
  --old-headings-heading-1-article-fontSize: 28px;
  --old-headings-heading-1-article-fontWeight: 700;
  --old-headings-heading-1-article-letterSpacing: 0%;
  --old-headings-heading-1-article-lineHeight: normal;
  --old-headings-heading-1-article-textTransform: none;
  --old-headings-heading-1-article-textDecoration: none;
  --old-headings-heading-1-partnercontent-fontFamily: Gulliver Book;
  --old-headings-heading-1-partnercontent-fontSize: 28px;
  --old-headings-heading-1-partnercontent-fontWeight: 400;
  --old-headings-heading-1-partnercontent-letterSpacing: 0%;
  --old-headings-heading-1-partnercontent-lineHeight: normal;
  --old-headings-heading-1-partnercontent-textTransform: none;
  --old-headings-heading-1-partnercontent-textDecoration: none;
  --old-headings-heading-1-fontFamily: Gulliver;
  --old-headings-heading-1-fontSize: 25px;
  --old-headings-heading-1-fontWeight: 700;
  --old-headings-heading-1-letterSpacing: 0px;
  --old-headings-heading-1-lineHeight: normal;
  --old-headings-heading-1-textTransform: none;
  --old-headings-heading-1-textDecoration: none;
  --old-headings-heading-2-fontFamily: Gulliver;
  --old-headings-heading-2-fontSize: 18px;
  --old-headings-heading-2-fontWeight: 700;
  --old-headings-heading-2-letterSpacing: 0px;
  --old-headings-heading-2-lineHeight: normal;
  --old-headings-heading-2-textTransform: none;
  --old-headings-heading-2-textDecoration: none;
  --old-headings-heading-2-partnercontent-fontFamily: Gulliver Semibold;
  --old-headings-heading-2-partnercontent-fontSize: 18px;
  --old-headings-heading-2-partnercontent-fontWeight: 400;
  --old-headings-heading-2-partnercontent-letterSpacing: 0px;
  --old-headings-heading-2-partnercontent-lineHeight: normal;
  --old-headings-heading-2-partnercontent-textTransform: none;
  --old-headings-heading-2-partnercontent-textDecoration: none;
  --old-headings-article-row-heading-fontFamily: Fira Sans;
  --old-headings-article-row-heading-fontSize: 12px;
  --old-headings-article-row-heading-fontWeight: 700;
  --old-headings-article-row-heading-letterSpacing: 4px;
  --old-headings-article-row-heading-lineHeight: normal;
  --old-headings-article-row-heading-textTransform: uppercase;
  --old-headings-article-row-heading-textDecoration: none;
  --old-headings-heading-footer-plus-page-nav-fontFamily: Gulliver;
  --old-headings-heading-footer-plus-page-nav-fontSize: 18px;
  --old-headings-heading-footer-plus-page-nav-fontWeight: 700;
  --old-headings-heading-footer-plus-page-nav-letterSpacing: 0px;
  --old-headings-heading-footer-plus-page-nav-lineHeight: 30px;
  --old-headings-heading-footer-plus-page-nav-textTransform: none;
  --old-headings-heading-footer-plus-page-nav-textDecoration: none;
  --old-headings-page-nav-regular-plus-subheading-fontFamily: Gulliver Book;
  --old-headings-page-nav-regular-plus-subheading-fontSize: 18px;
  --old-headings-page-nav-regular-plus-subheading-fontWeight: 400;
  --old-headings-page-nav-regular-plus-subheading-letterSpacing: 0px;
  --old-headings-page-nav-regular-plus-subheading-lineHeight: 30px;
  --old-headings-page-nav-regular-plus-subheading-textTransform: none;
  --old-headings-page-nav-regular-plus-subheading-textDecoration: none;
  --old-titles-spotlight-fontFamily: Gulliver;
  --old-titles-spotlight-fontSize: 36px;
  --old-titles-spotlight-fontWeight: 700;
  --old-titles-spotlight-letterSpacing: 0px;
  --old-titles-spotlight-lineHeight: 40px;
  --old-titles-spotlight-textTransform: none;
  --old-titles-spotlight-textDecoration: none;
  --old-titles-spotlight-hover-fontFamily: Gulliver;
  --old-titles-spotlight-hover-fontSize: 34px;
  --old-titles-spotlight-hover-fontWeight: 700;
  --old-titles-spotlight-hover-letterSpacing: 0px;
  --old-titles-spotlight-hover-lineHeight: 40px;
  --old-titles-spotlight-hover-textTransform: none;
  --old-titles-spotlight-hover-textDecoration: underline;
  --old-titles-article-gallery-fontFamily: Gulliver;
  --old-titles-article-gallery-fontSize: 20px;
  --old-titles-article-gallery-fontWeight: 700;
  --old-titles-article-gallery-letterSpacing: 0px;
  --old-titles-article-gallery-lineHeight: 24px;
  --old-titles-article-gallery-textTransform: none;
  --old-titles-article-gallery-textDecoration: none;
  --old-titles-article-gallery-hover-fontFamily: Gulliver;
  --old-titles-article-gallery-hover-fontSize: 30px;
  --old-titles-article-gallery-hover-fontWeight: 700;
  --old-titles-article-gallery-hover-letterSpacing: 0px;
  --old-titles-article-gallery-hover-lineHeight: 36px;
  --old-titles-article-gallery-hover-textTransform: none;
  --old-titles-article-gallery-hover-textDecoration: underline;
  --old-titles-article-card-fontFamily: Gulliver Semibold;
  --old-titles-article-card-fontSize: 16px;
  --old-titles-article-card-fontWeight: 400;
  --old-titles-article-card-letterSpacing: 0px;
  --old-titles-article-card-lineHeight: 20px;
  --old-titles-article-card-textTransform: none;
  --old-titles-article-card-textDecoration: none;
  --old-titles-article-card-hover-fontFamily: Gulliver;
  --old-titles-article-card-hover-fontSize: 17px;
  --old-titles-article-card-hover-fontWeight: 700;
  --old-titles-article-card-hover-letterSpacing: 0px;
  --old-titles-article-card-hover-lineHeight: 22.4px;
  --old-titles-article-card-hover-textTransform: none;
  --old-titles-article-card-hover-textDecoration: underline;
  --old-titles-article-card-partnercontent-fontFamily: Gulliver Book;
  --old-titles-article-card-partnercontent-fontSize: 16px;
  --old-titles-article-card-partnercontent-fontWeight: 400;
  --old-titles-article-card-partnercontent-letterSpacing: 0px;
  --old-titles-article-card-partnercontent-lineHeight: 20px;
  --old-titles-article-card-partnercontent-textTransform: none;
  --old-titles-article-card-partnercontent-textDecoration: none;
  --old-titles-article-card-partnercontent-hover-fontFamily: Gulliver Book;
  --old-titles-article-card-partnercontent-hover-fontSize: 17px;
  --old-titles-article-card-partnercontent-hover-fontWeight: 400;
  --old-titles-article-card-partnercontent-hover-letterSpacing: 0px;
  --old-titles-article-card-partnercontent-hover-lineHeight: 22.4px;
  --old-titles-article-card-partnercontent-hover-textTransform: none;
  --old-titles-article-card-partnercontent-hover-textDecoration: underline;
  --old-titles-article-gallery-active-fontFamily: Gulliver;
  --old-titles-article-gallery-active-fontSize: 20px;
  --old-titles-article-gallery-active-fontWeight: 700;
  --old-titles-article-gallery-active-letterSpacing: 0px;
  --old-titles-article-gallery-active-lineHeight: 24px;
  --old-titles-article-gallery-active-textTransform: none;
  --old-titles-article-gallery-active-textDecoration: underline;
  --old-titles-article-card-active-fontFamily: Gulliver;
  --old-titles-article-card-active-fontSize: 16px;
  --old-titles-article-card-active-fontWeight: 700;
  --old-titles-article-card-active-letterSpacing: 0px;
  --old-titles-article-card-active-lineHeight: 20px;
  --old-titles-article-card-active-textTransform: none;
  --old-titles-article-card-active-textDecoration: underline;
  --old-titles-article-card-partnercontent-active-fontFamily: Gulliver Book;
  --old-titles-article-card-partnercontent-active-fontSize: 16px;
  --old-titles-article-card-partnercontent-active-fontWeight: 400;
  --old-titles-article-card-partnercontent-active-letterSpacing: 0px;
  --old-titles-article-card-partnercontent-active-lineHeight: 20px;
  --old-titles-article-card-partnercontent-active-textTransform: none;
  --old-titles-article-card-partnercontent-active-textDecoration: underline;
  --old-category-category-gallery-spotlight-fontFamily: Fira Sans;
  --old-category-category-gallery-spotlight-fontSize: 24px;
  --old-category-category-gallery-spotlight-fontWeight: 700;
  --old-category-category-gallery-spotlight-letterSpacing: 1px;
  --old-category-category-gallery-spotlight-lineHeight: 26px;
  --old-category-category-gallery-spotlight-textTransform: small-caps;
  --old-category-category-gallery-spotlight-textDecoration: none;
  --old-category-category-article-card-fontFamily: Fira Sans;
  --old-category-category-article-card-fontSize: 14px;
  --old-category-category-article-card-fontWeight: 700;
  --old-category-category-article-card-letterSpacing: 1px;
  --old-category-category-article-card-lineHeight: 25px;
  --old-category-category-article-card-textTransform: small-caps;
  --old-category-category-article-card-textDecoration: none;
  --old-category-category-article-intro-fontFamily: Fira Sans;
  --old-category-category-article-intro-fontSize: 24px;
  --old-category-category-article-intro-fontWeight: 700;
  --old-category-category-article-intro-letterSpacing: 1px;
  --old-category-category-article-intro-lineHeight: 26px;
  --old-category-category-article-intro-textTransform: small-caps;
  --old-category-category-article-intro-textDecoration: none;
  --old-body-footer-fontFamily: Fira Sans;
  --old-body-footer-fontSize: 14px;
  --old-body-footer-fontWeight: 400;
  --old-body-footer-letterSpacing: 0px;
  --old-body-footer-lineHeight: 20px;
  --old-body-footer-textTransform: lowercase;
  --old-body-footer-textDecoration: none;
  --old-body-body-fontFamily: Fira Sans;
  --old-body-body-fontSize: 16px;
  --old-body-body-fontWeight: 400;
  --old-body-body-letterSpacing: 0px;
  --old-body-body-lineHeight: 26px;
  --old-body-body-textTransform: none;
  --old-body-body-textDecoration: none;
  --old-body-body-light-fontFamily: Fira Sans;
  --old-body-body-light-fontSize: 16px;
  --old-body-body-light-fontWeight: 300;
  --old-body-body-light-letterSpacing: 0px;
  --old-body-body-light-lineHeight: 26px;
  --old-body-body-light-textTransform: none;
  --old-body-body-light-textDecoration: none;
  --old-body-body-bold-fontFamily: Fira Sans;
  --old-body-body-bold-fontSize: 16px;
  --old-body-body-bold-fontWeight: 700;
  --old-body-body-bold-letterSpacing: 0px;
  --old-body-body-bold-lineHeight: 26px;
  --old-body-body-bold-textTransform: none;
  --old-body-body-bold-textDecoration: none;
  --old-body-article-intro-fontFamily: Fira Sans;
  --old-body-article-intro-fontSize: 18px;
  --old-body-article-intro-fontWeight: 300;
  --old-body-article-intro-letterSpacing: 0px;
  --old-body-article-intro-lineHeight: 28px;
  --old-body-article-intro-textTransform: none;
  --old-body-article-intro-textDecoration: none;
  --old-body-quote-fontFamily: Gulliver;
  --old-body-quote-fontSize: 24px;
  --old-body-quote-fontWeight: 700;
  --old-body-quote-letterSpacing: 0px;
  --old-body-quote-lineHeight: normal;
  --old-body-quote-textTransform: none;
  --old-body-quote-textDecoration: none;
  --old-body-quote-partnercontent-fontFamily: Gulliver Semibold;
  --old-body-quote-partnercontent-fontSize: 24px;
  --old-body-quote-partnercontent-fontWeight: 400;
  --old-body-quote-partnercontent-letterSpacing: 0px;
  --old-body-quote-partnercontent-lineHeight: normal;
  --old-body-quote-partnercontent-textTransform: none;
  --old-body-quote-partnercontent-textDecoration: none;
  --old-body-article-city-fontFamily: Fira Sans;
  --old-body-article-city-fontSize: 14px;
  --old-body-article-city-fontWeight: 400;
  --old-body-article-city-letterSpacing: 2px;
  --old-body-article-city-lineHeight: 30px;
  --old-body-article-city-textTransform: uppercase;
  --old-body-article-city-textDecoration: none;
  --old-body-article-intro-partnercontent-fontFamily: Gulliver Book;
  --old-body-article-intro-partnercontent-fontSize: 18px;
  --old-body-article-intro-partnercontent-fontWeight: 400;
  --old-body-article-intro-partnercontent-letterSpacing: 0px;
  --old-body-article-intro-partnercontent-lineHeight: 28px;
  --old-body-article-intro-partnercontent-textTransform: none;
  --old-body-article-intro-partnercontent-textDecoration: none;
  --old-body-sierkapitaal-fontFamily: Abril Fatface;
  --old-body-sierkapitaal-fontSize: 90px;
  --old-body-sierkapitaal-fontWeight: 400;
  --old-body-sierkapitaal-letterSpacing: 0px;
  --old-body-sierkapitaal-lineHeight: normal;
  --old-body-sierkapitaal-textTransform: none;
  --old-body-sierkapitaal-textDecoration: none;
  --old-buttons-button-blue-fontFamily: Fira Sans;
  --old-buttons-button-blue-fontSize: 15px;
  --old-buttons-button-blue-fontWeight: 700;
  --old-buttons-button-blue-letterSpacing: 0px;
  --old-buttons-button-blue-lineHeight: normal;
  --old-buttons-button-blue-textTransform: none;
  --old-buttons-button-blue-textDecoration: none;
  --old-buttons-button-round-fontFamily: Fira Sans;
  --old-buttons-button-round-fontSize: 15px;
  --old-buttons-button-round-fontWeight: 400;
  --old-buttons-button-round-letterSpacing: 0px;
  --old-buttons-button-round-lineHeight: normal;
  --old-buttons-button-round-textTransform: none;
  --old-buttons-button-round-textDecoration: none;
  --old-meta-meta-bold-fontFamily: Fira Sans;
  --old-meta-meta-bold-fontSize: 14px;
  --old-meta-meta-bold-fontWeight: 700;
  --old-meta-meta-bold-letterSpacing: 0%;
  --old-meta-meta-bold-lineHeight: 20px;
  --old-meta-meta-bold-textTransform: none;
  --old-meta-meta-bold-textDecoration: none;
  --old-meta-meta-regular-fontFamily: Fira Sans;
  --old-meta-meta-regular-fontSize: 14px;
  --old-meta-meta-regular-fontWeight: 400;
  --old-meta-meta-regular-letterSpacing: 0%;
  --old-meta-meta-regular-lineHeight: 20px;
  --old-meta-meta-regular-textTransform: none;
  --old-meta-meta-regular-textDecoration: none;
}